/******************* ProductDetail **************/
.caja-edicion-borrar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    font-size: 15px;
    border-top: 1px solid black;
}

.editar, .borrar {
    display: flex;
}

.boton-editar, .boton-borrar{
    padding: 5px;
    border-radius: 20%;
    border: 1px solid white;
    color: white;
    background-color: rgb(110, 163, 247);
} 
#pro-details {
    display: flex;
    margin-top: 20px;
}

#pro-details .single-pro-image {
    width: 40%;
    margin-right: 50px;
    margin:50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
}

.small-img {
    border-radius: 5px;
}

.small-img-col:hover {
    transform: scale(1.04);
}

.small-img.focus {
    filter: brightness(.73);
    transition: all .4s ease;
}

#pro-details .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#pro-details .single-pro-details h6 {
    font-size: 16px;
}

#pro-details .single-pro-details h4 {
    padding: 40px 0 20px 0;
}

#pro-details .single-pro-details h2 {
    font-size: 26px;
}

#pro-details .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

#pro-details .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#pro-details .single-pro-details input:focus {
    outline: none;
}

#pro-details .single-pro-details button {
    background-color: #088178;
    color: #fff;
    border: 2px solid transparent;
}

#pro-details .single-pro-details button:hover {
    background-color: #fff;
    color: #088178;
    border-color: #088178;
}

#pro-details .single-pro-details span {
    line-height: 25px;
    color: #3f4e48;
    text-align: justify;
}
