<footer class="section-p1">
    <div class="col">
        <h4>Contacto</h4>
        <p>
            <strong>Dirección:</strong> Av. Madrid 912, Buenos Aires
        </p>
        <p><strong>Teléfono:</strong> +54 11 4505 5932</p>
        <p><strong>Horario:</strong> 10:00 - 21:00, Lunes - Sábado</p>
        <div class="follow">
            <h4>Seguinos</h4>
            <div class="icon">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-pinterest-p"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>
    </div>
    <div class="col">
        <h4>Acerca de</h4>
        <a href="/nosotros">Sobre Nosotros</a>
        <a href="../products/list">Productos</a>
        <a href="#">Información de Envíos</a>
        <a href="#">Política de Privacidad</a>
        <a href="#">Terminos y Condiciones</a>
        <a href="#">Contactanos</a>
    </div>
    <div class="col">
        <h4>Mi Cuenta</h4>
        <a href="#">Ingresá</a>
        <a href="#">Ver Carrito</a>
        <a href="#">Mi lista de deseos</a>
        <a href="#">Seguir mi orden</a>
        <a href="#">Ayuda</a>
    </div>
    <div class="col install">
        <h4>Instalar App</h4>
        <p>De la App Store o Google Play</p>
        <div class="row">
            <img src="img/app.jpg" alt="app store" />
            <img src="img/play.jpg" alt="google play" />
        </div>
        <p>Métodos de pago seguros</p>
        <div class="pagos">
        <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" class="icon-logo lazyloaded" alt="visa" width="32px" height="20px">
        <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" class="icon-logo lazyloaded" alt="mastercard" width="32" height="20">
        <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" class="icon-logo lazyloaded" alt="amex" width="32" height="20">
        <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-naranja@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-naranja@2x.png" class="icon-logo lazyloaded" alt="ar_tarjeta-naranja" width="32" height="20">
        <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" class="icon-logo lazyloaded" alt="mercadopago" width="32" height="20">
        <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/pagofacil@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/pagofacil@2x.png" class="icon-logo lazyloaded" alt="pagofacil" width="32" height="20">
        <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/rapipago@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/rapipago@2x.png" class="icon-logo lazyloaded" alt="rapipago" width="32" height="20">
    </div>
    </div>

    <div class="copyright">
        <p>© 2022, OriginalVintage Sportwear  -Todos los derechos reservados</p>
    </div>
</footer>