<header>
<section id="header">
    <a href="/index"><img src="/img/ovs.png" alt="logo" class="logo" /></a>

    <div class="search">
        <form  class="searchbar" action="#" method="GET">
            <div class="searchbarinput1">
                <input type="text" class="searchbarinput" placeholder="¿Qué camiseta queres?" >
                <button type="submit"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>         
            </div>
        </form>
    </div>

    <div>
        <ul id="navbar">
            <li><a class="active" href="/index">Home</a></li>
            <li><a href="/nosotros">Nosotros</a></li>            
            <li><a href="/users/register">Crear Cuenta</a></li>
            <li><a href="/users/login">Mi cuenta</a></li>
            <li><a href="/users/productCar">Carrito</a></li>
    </div>
</section>
</header>