<section id=newsletter class="section-p1 section-m1">
    <div class="newstext">
        <h4>Registrate al Newsletter</h4>
            <p>Recibí correos con nuestras novedades y recibí <span>ofertas especiales</span>
            </p>
        </div>
    <div class="form">
        <input type="text" placeholder="Ingresá tu e-mail">
        <button class="normal">Registrate!</button>
    </div>
</section>